$font-stack: system-ui, sans-serif;
$primary-light: hsl(0, 0%, 98%);
$primary-dark: hsl(248, 31%, 20%);
$primary-color: hsl(0, 0%, 98%);
$primary-accent: hsl(180, 52%, 42%);
$primary-accent-light: hsl(180, 50%, 82%);
$line-height: 1.4;

:root {
  color: $primary-light;
  background-color: $primary-dark;
  font-family: $font-stack;
  line-height: $line-height;
}

a {
    color: $primary-accent;
    &:hover {
        color: $primary-accent-light;
    }
    &:active {
        color: $primary-color;
    }
    &:visited {
        color: $primary-accent-light;
    }
    &:focus {
        color: $primary-color;
    }
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    .links, li {
        display: inline-flex;
    }
}

li {
    margin: 1em;
}

li::before {
  content: ">";
  background: $primary-accent-light;
  color: $primary-accent;
  border-radius: 3px;
  padding-inline: 4px;
  margin-inline-end: 4px;
}

.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1ch;
    align-items: center;
    background: $primary-accent;
    width: 18rem;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    img {
        width: 10rem;
        height: auto;
    }
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


